<div>
    <mat-card style="margin:3%;max-width: 50%;text-align: center;">
        <mat-card-header style="margin-left:36%;">
             <mat-card-title class="cardHeader">Balance Details</mat-card-title>
        </mat-card-header>

        <h3>New Balance : 5000</h3>
        <h3>Notes:</h3>
        <mat-card style="max-width:20%;margin-left:36%;">
          <div class="notes">2000 * 1</div>
          <hr/>
          <div class="notes">500 * 1</div>
          <hr/>
          <div class="notes">100 * 1</div>
        </mat-card>
    </mat-card>
    </div>